<a rel="me" href="https://masto.ai/@nunocoracao"></a>

<div class="newsletter-form">
  <h3 class="newsletter-title">Subscribe to my newsletter</h3>
  <p class="newsletter-description">Get notified when I publish new posts. No spam, unsubscribe anytime.</p>
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/nuno"
    method="post"
    target="popupwindow"
    class="newsletter-subscribe"
  >
    <input type="email" name="email" placeholder="your@email.com" required class="newsletter-input" />
    <input type="submit" value="Subscribe" class="newsletter-button" />
  </form>
</div>